# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Java / Maven
# =========================
**/target/
*.class

# =========================
# Node / Vite
# =========================
**/node_modules/
**/dist/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db